In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../raw_data/train.csv', nrows=3_000_000)

## Load 3 mil to data frame

In [3]:
data.head(50)

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False
5,5,157063,115,156,0,5,2,1,5000.0,False
6,6,176092,115,51,0,6,0,1,17000.0,False
7,7,194190,115,50,0,7,3,1,17000.0,False
8,8,212463,115,7896,0,8,2,1,16000.0,False
9,9,230983,115,7863,0,9,0,1,16000.0,False
10,10,255381,115,152,0,10,2,0,17000.0,False
11,11,280033,115,104,0,11,1,0,22000.0,False
12,12,302994,115,108,0,12,1,0,23000.0,False
13,13,328686,115,7900,0,13,0,1,21000.0,False
14,14,352686,115,7901,0,14,1,1,24000.0,False
15,15,376162,115,7971,0,15,2,1,22000.0,False
16,16,398020,115,25,0,16,1,1,21000.0,False
17,17,418008,115,183,0,17,0,0,20000.0,False
18,18,437272,115,7926,0,18,1,1,18000.0,False
19,19,468511,115,7927,0,19,3,1,17000.0,False
20,20,490100,115,4,0,20,1,0,29000.0,False
21,21,510583,115,7984,0,21,3,0,20000.0,False
22,22,534187,115,45,0,22,2,0,19000.0,False
23,23,557677,115,185,0,23,3,0,21000.0,False
24,24,575289,115,55,0,24,3,1,22000.0,False
25,25,597863,115,7876,0,25,3,1,16000.0,False
26,26,621464,115,6,0,26,2,1,20000.0,False
27,27,645415,115,172,0,27,1,1,22000.0,False
28,28,670520,115,7898,0,28,2,1,22000.0,False
29,29,692971,115,175,0,29,0,0,23000.0,False
30,30,710402,115,100,0,30,0,1,20000.0,False
31,31,732421,115,7859,0,31,3,0,15000.0,False
32,32,1219624,115,57,0,32,0,1,20000.0,False
33,33,1252621,115,7948,0,33,0,1,20000.0,True
34,34,1284094,115,151,0,34,3,1,22000.0,True
35,35,1320874,115,167,0,35,2,1,19000.0,True
36,36,1359412,115,7897,0,36,3,0,17000.0,True
37,37,1415188,115,7882,0,37,2,1,20000.0,True
38,38,1468285,115,7962,0,38,3,1,17000.0,True
39,39,667861680,115,1278,0,39,3,1,21000.0,False
40,40,667971812,115,2065,0,40,2,1,17000.0,False
41,41,667971812,115,2064,0,40,1,1,17000.0,False
42,42,667971812,115,2063,0,40,3,0,17000.0,False
43,43,668090043,115,3363,0,41,1,0,14333.0,False
44,44,668090043,115,3365,0,41,0,0,14333.0,False
45,45,668090043,115,3364,0,41,1,1,14333.0,False
46,46,0,124,7900,0,0,0,1,NaN,NaN
47,47,32683,124,7876,0,1,0,0,26000.0,False
48,48,62000,124,175,0,2,2,1,29000.0,False
49,49,83632,124,1278,0,3,1,0,26000.0,False

In [5]:
questions = pd.read_csv('../raw_data/questions.csv')
questions.head(10)

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38
5            5          5               2     1  131 149 162 81
6            6          6               2     1    10 94 162 92
7            7          7               0     1   61 110 162 29
8            8          8               3     1   131 13 162 92
9            9          9               3     1       10 164 81

In [6]:
user115  = data.loc[data["user_id"] == 115]
user115[['user_id', 'content_id', 'answered_correctly']]
user_questions = user115['content_id'].unique()
# print(questions['tags'])

for question in user_questions:
    if question in questions['question_id']:
        print(f'nr: {question} : {questions.loc[questions["question_id"]==question, ["tags"]]}')

nr: 5692 :      tags
5692  151
nr: 5716 :      tags
5716  168
nr: 128 :            tags
128  131 149 92
nr: 7860 :             tags
7860  131 104 81
nr: 7922 :             tags
7922  131 149 92
nr: 156 :                tags
156  131 101 162 38
nr: 51 :           tags
51  131 187 81
nr: 50 :           tags
50  131 101 38
nr: 7896 :                 tags
7896  131 104 162 81
nr: 7863 :            tags
7863  131 68 92
nr: 152 :              tags
152  131 5 162 81
nr: 104 :               tags
104  131 93 162 81
nr: 108 :            tags
108  131 104 92
nr: 7900 :            tags
7900  131 93 81
nr: 7901 :             tags
7901  131 130 92
nr: 7971 :            tags
7971  131 93 92
nr: 25 :        tags
25  9 10 81
nr: 183 :               tags
183  61 110 162 29
nr: 7926 :          tags
7926  9 10 92
nr: 7927 :            tags
7927  10 178 29
nr: 4 :            tags
4  131 5 162 38
nr: 7984 :             tags
7984  131 104 81
nr: 45 :              tags
45  10 164 162 81
nr: 185 :            tags
185  131 111 81
nr: 55 :              tags
55  131 36 162 81
nr: 7876 :           tags
7876  10 94 92
nr: 6 :            tags
6  10 94 162 92
nr: 172 :           tags
172  10 164 81
nr: 7898 :            tags
7898  131 99 29
nr: 175 :         tags
175  9 10 92
nr: 100 :          tags
100  131 5 81
nr: 7859 :           tags
7859  131 5 92
nr: 57 :              tags
57  131 93 162 29
nr: 7948 :             tags
7948  131 187 29
nr: 151 :               tags
151  131 93 162 92
nr: 167 :                tags
167  131 130 162 38
nr: 7897 :                tags
7897  61 110 162 92
nr: 7882 :             tags
7882  51 131 102
nr: 7962 :            tags
7962  51 131 92
nr: 1278 :                tags
1278  143 140 81 29
nr: 2065 :                tags
2065  136 162 92 29
nr: 2064 :            tags
2064  157 92 29
nr: 2063 :            tags
2063  136 92 29
nr: 3363 :            tags
3363  74 103 29
nr: 3365 :             tags
3365  136 103 29
nr: 3364 :             tags
3364  136 103 29

In [7]:
lectures = pd.read_csv('../raw_data/lectures.csv')
lectures.head()

   lecture_id  tag  part           type_of
0          89  159     5           concept
1         100   70     1           concept
2         185   45     6           concept
3         192   79     5  solving question
4         317  156     5  solving question

### Next step to get the corresponding lectures[type_of] for each tag

user[115] -> 45 questions -> 45 unique questions -> x amount of lecture_ids -> y = concept & z = solving questions
z > y -> more correct answers ?
y > z -> more correct answers ?

In [ ]:
lectures.head(50)

In [ ]:
lectures.groupby(['type_of'])

In [ ]:
lectures.shape

In [ ]:
lectures['tag'].value_counts()

In [ ]:
lectures[lectures['tag'] == 94]

In [ ]:
data['user_id'].value_counts()

In [ ]:
data['content_type_id'].value_counts()

In [ ]:
questioned_users = data.loc[data.content_type_id == 0, ['user_id', 'answered_correctly']].groupby(['user_id']).agg(['count'])
questioned_users_mean = data.loc[data.content_type_id == 0, ['user_id', 'answered_correctly']].groupby(['user_id']).agg(['mean'])

print(questioned_users)
print(questioned_users_mean)

In [ ]:
on_lecture = data.loc[data.content_type_id == 1, ['user_id', 'answered_correctly']].groupby(['user_id']).agg(['count'])
on_lecture_mean = data.loc[data.content_type_id == 1, ['user_id', 'answered_correctly']].groupby(['user_id']).agg(['mean'])

print(on_lecture)
print(on_lecture_mean)

In [ ]:
on_lecture_mean = data.loc[data.content_type_id == 1, ['user_id', 'answered_correctly']].groupby(['answered_correctly']).agg(['count'])
print(on_lecture_mean)

## How many answered correctly

In [ ]:
data.groupby('answered_correctly').count()

In [ ]:
correct_explained = data.groupby('answered_correctly')['prior_question_had_explanation'].count()
# group1 = data.loc[data.content_type_id == False, ['task_container_id', 'user_id']].groupby(['task_container_id']).agg(['count'])
cor = data.loc[data.answered_correctly == 1, ['user_id', 'user_answer']].groupby(['user_id']).agg(['mean'])
wrong = data.loc[data.answered_correctly == 0, ['user_id', 'user_answer']].groupby(['user_id']).agg(['mean'])
lecture = data.loc[data.answered_correctly == -1, ['user_id', 'user_answer']].groupby(['user_id']).agg(['mean'])
print(cor)
print(wrong)
print(lecture)

In [ ]:
time = data.loc[data.answered_correctly == 1, ['user_id', 'user_answer']]

## How many of those who answered correctly had prior explanation

In [ ]:
corr_answ = data['answered_correctly']==1
data.loc[corr_answ, ['prior_question_had_explanation']].value_counts()

## How many of those answered wrongly had prior explanation

In [ ]:
wrong_answ = data['answered_correctly']==0
data.loc[wrong_answ, ['prior_question_had_explanation']].value_counts()

In [ ]:
users = data.loc[data.content_type_id == False, ['user_id', 'answered_correctly']].groupby(['user_id']).agg(['mean'])
print(users)

In [ ]:
u_on_lec = data.loc[data.content_type_id == True, ['user_id', 'answered_correctly']].groupby(['user_id']).agg(['mean'])
print(u_on_lec)

In [ ]:
group1 = data.loc[data.content_type_id == False, ['task_container_id', 'user_id']].groupby(['task_container_id']).agg(['count'])
group1.columns = ['avg_questions']
group2 = data.loc[(data.content_type_id == False), ['task_container_id', 'user_id']].groupby(['task_container_id']).agg(['unique'])
group2.columns = ['avg_questions']
group3 = group1 / group2
print(group3)

## TODO:
1. which content_type_id get most right answers (content_type_id -> lectures_id) 
2. which content_type_id get most wrong answers

In [ ]:
values = data['content_id'].value_counts()
print(values)

In [ ]:
#data['content_type_id'].groupby(data['answered_correctly']==1)
#data.loc[(data.answered_correctly==1)].groupby(data['content_type_id']).agg(['unique'])
data.loc[(data.content_type_id)].groupby(data['answered_correctly']==1).agg(['unique'])

In [ ]:
questions.shape

In [ ]:
responses = pd.read_csv('../raw_data/responses.csv')
responses.head(15)

In [ ]:
responses.shape

In [ ]:
lectures.shape

In [ ]:
lectures['lecture_id'].value_counts()

In [ ]:
lectures['lecture_id'].value_counts()