In [1]:
import pandas as pd

## Load 3 mil to data frame

In [15]:
data = pd.read_csv('../raw_data/train.csv', nrows = 3000000)
data.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False

data.shape

## How many answered correctly

In [19]:
data.groupby('answered_correctly').count()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,prior_question_elapsed_time,prior_question_had_explanation
answered_correctly,,,,,,,,,
-1,59467,59467,59467,59467,59467,59467,59467,0,59467
0,1023283,1023283,1023283,1023283,1023283,1023283,1023283,1019451,1019451
1,1917250,1917250,1917250,1917250,1917250,1917250,1917250,1909104,1909104

In [32]:
correct_explained = data.groupby('answered_correctly')['prior_question_had_explanation'].count()
print(correct_explained)

answered_correctly
-1      59467
 0    1019451
 1    1909104
Name: prior_question_had_explanation, dtype: int64

## How many of those who answered correctly had prior explanation

In [30]:
corr_answ = data['answered_correctly']==1
data.loc[corr_answ, ['prior_question_had_explanation']].value_counts()

prior_question_had_explanation
True                              1769061
False                              140043
dtype: int64

## How many of those answered wrongly had prior explanation

In [31]:
wrong_answ = data['answered_correctly']==0
data.loc[wrong_answ, ['prior_question_had_explanation']].value_counts()

prior_question_had_explanation
True                              879664
False                             139787
dtype: int64

## TODO:
1. which content_type_id get most right answers (content_type_id -> lectures_id) 
2. which content_type_id get most wrong answers